<h3>Добавить элемент</h3>


<div class="container">
  <form novalidate [formGroup]="addElementForm" (ngSubmit)="onSubmit(addElementForm)">

    <div class="form-group">
      <label for="name">Имя</label>

      <input type="text" class="form-control" id="name" formControlName="name">

      <div *ngIf="addElementForm.get('name').hasError('required') && 
            addElementForm.get('name').touched" class="alert alert-danger">
        Обязательное поле.
      </div>

      <div *ngIf="addElementForm.get('name').hasError('minlength') && 
            addElementForm.get('name').touched" class="alert alert-danger">
        Длина строки должна быть не менее 4 символов.
      </div>

    </div>

    <div class="form-group">
      <label for="price">Цена</label>

      <input type="number" class="form-control" id="price" formControlName="price">

      <div *ngIf="addElementForm.get('price').hasError('required') && 
            addElementForm.get('price').touched" class="alert alert-danger">
        Обязательное поле.
      </div>
    </div>





    <div class="form-group">
      <label for="category">Категория </label>

      <select id="category" class="form-control" id="category" formControlName="category">
        <option value="0" disabled="true" [selected]="true">Выберите категорию</option>
        <option *ngFor="let option of categories" [ngValue]="option.id">{{option.name}}</option>
      </select>

      <!-- {{addElementForm.get('category').hasError('selected')}}
      {{addElementForm.get('category').errors.selected}}
      {{addElementForm.get('category').touched}} -->

      <!-- <div *ngIf="addElementForm.get('category').touched &&
      addElementForm.get('category').errors.selected == false" class="alert alert-danger">
        Обязательное поле.
      </div> -->

       <div *ngIf="addElementForm.get('category').touched &&
      addElementForm.get('category').hasError('selected')" class="alert alert-danger">
        Обязательное поле.
      </div>

        <!-- <div *ngIf="addElementForm.get('category').touched " class="alert alert-danger">
        Обязательное поле.
      </div> -->

      <!-- <div *ngIf="addElementForm.get('category').hasError('required') && 
      (category.touched && category.value == '0')" class="alert alert-danger">
        Обязательное поле.
      </div> -->

    </div>




    <input type="submit" class="btn btn-degault" [disabled]="addElementForm.invalid" value="Добавить элемент">
  </form>
</div>

<!-- <form (ngSubmit)="addInList()" #userform="ngForm">

  <div class="form-group">
    <label for="name">Имя</label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Поле имя обязательное для заполнения
    </div>
    <div [hidden]="name.value?.length > 3 || name.pristine" class="alert alert-danger">
      Количество символов должно быть больше четырех
    </div>
  </div>

  <br />

  <div class="form-group">
    <label for="price">Цена</label>
    <input type="number" class="form-control" id="price" required [(ngModel)]="model.price" name="price"
      #price="ngModel">
    <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
      Поле цена обязательное для заполнения
    </div>
  </div>


  <br />

  <div class="form-group">
    <label for="category">Категория </label>

    <select id="category" [(ngModel)]="model.category" #category="ngModel" class="form-control" required
      name="category">
      <option value="0" disabled="true" [selected]="true">Выберите категорию</option>
      <option *ngFor="let option of categories" [ngValue]="option.id">{{option.name}}</option>
    </select>
    <div [hidden]="!(category.touched && category.value == '0')" class="alert alert-danger">
      Поле категория обязательное для заполнения
    </div>
  </div>

  <br />

  <button type="submit" class="btn btn-default"
    [disabled]="!(userform.form.valid && category.value != '0')">Submit</button>

</form> -->